{% extends "master-templates-bianco/base.html" %}
{% load static %}

{% block content %}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="card card-preview">
                        <div class="card-inner" id="card-bg" title="Designed by Freepik">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-home-chatbot-bianco.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Selamat Datang di Chatbot CMS Bianco Costel</h5>
                                             <p class="card-text">Platform yang dirancang untuk membantu optimalisasi serta tata kelola data untuk bahan pengetahuan dan training AI dalam pemanfaatannya sebagai chatbot perhotelan di Bianco Costel.</p>
                                            <a href="{{setup_link}}" class="btn btn-primary">Setup dan Konversi Data</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}