{% extends "master-templates/base.html" %}
{% load static %}

{% block content %}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="card card-preview">
                        <div class="card-inner" id="card-bg" title="Designed by Freepik">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-home-chatbot.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Welcome to the Chatbot CMS</h5>
                                             <p class="card-text">A platform designed to support the optimization and management of data for knowledge building and AI training, specifically for its use as a hospitality chatbot.</p>
                                            <a href="{{setup_link}}" class="btn btn-primary">Data Setup and Conversion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
