{% load static %}

<div class="modal fade" tabindex="-1" id="modalLarge7">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Templates & Monitor Their Approval</h5>
                <a href="#" id="modalgenerateormonitor" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="card card-bordered">
                                <img src="{% static 'images/card-temp-chatbot6.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                <div class="card-inner">
                                    <h5 class="card-title">Template Wizard</h5>
                                    <p class="card-text">Build your template from scratch all the way to submitting it to Meta, with clear and easy-to-follow steps. Let’s get started!</p>
                                    <a href="" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge3">Create your template here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-bordered">
                                <img src="{% static 'images/card-temp-chatbot7.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                <div class="card-inner">
                                    <h5 class="card-title">Track Approval Status</h5>
                                    <p class="card-text">Once you submit your template, Meta will review it—this usually takes up to 48 hours. No worries, you can check the status right here.</p>
                                    <a href="" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge8">Track it here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Chatbot Management By Banda AI</span>
            </div>
        </div>
    </div>
</div>
