{% extends "master-templates/base.html" %}
{% load static %}

{% block content %}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="card card-preview">
                        <div class="card-inner" id="card-bgss" title="Designed by Freepik">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-temp-chatbot1.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Create Your Chat Template in Your Own Style</h5>
                                            <p class="card-text">Create awesome automated chat messages for your business! Build the template here, send it to Meta, and track the progress—all in one place. Easy, fast, and hassle-free!</p>
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge7">Try Creating a Template</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-temp-chatbot2.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Template Approved? Just Send It Right Away!</h5>
                                            <p class="card-text">Your template is approved! Now it's time to send exciting updates, promos, or business news quickly and accurately to your audience. No hassle—do it all from one place.</p>
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge9">Let’s send it now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modalLarge2">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Generate Template</h5>
                        <a href="#" id="modalclosegut" class="close" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-wider btn-info" id="btnnewinstrcp"><span>Add/Edit Company Profile</span><em class="icon ni ni-plus-circle"></em></a>
                            </div>
                            <div class="col-sm-6">
                                <span class="preview-title overline-title" style="visibility:hidden">Save or Edit</span>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="saveoreditaddr" style="visibility:hidden">
                                </div>
                            </div>
                        </div>
                        <div class="preview-block" id="instruksifrm">
                            <div class="form-group">                           
                                <div class="form-control-wrap">
                                    <textarea class="form-control no-resize" placeholder="Please enter your business company profile information as AI instruction here..." id="instruksicp">{{showprefix}}</textarea>
                                </div>
                            </div>
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="form-group" id="customerForm" style="visibility:hidden">
                                        <span class="preview-title overline-title">Short Name</span>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="sid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title">save data?</span>
                                            <button type="button" class="btn btn-primary btn-block" id="btnsaveinstrcp"><span>Save</span><em class="icon ni ni-save"></em></button>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title" style="visibility:hidden">cancel data?</span>
                                            <button type="button" class="btn btn-danger btn-block" id="btndiscardinstrcp"><span>Cancel</span><em class="icon ni ni-cross-c"></em></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="preview-hr">
                        <br />
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-wider btn-info" id="btnnewinstrsx"><span>Add/Edit Instruction Suffix</span><em class="icon ni ni-plus-circle"></em></a>
                            </div>
                            <div class="col-sm-6">
                                <span class="preview-title overline-title" style="visibility:hidden">Save or Edit</span>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="saveoreditaddr" style="visibility:hidden">
                                </div>
                            </div>
                        </div>
                        <div class="preview-block" id="instruksisxfrm">
                            <div class="form-group">                           
                                <div class="form-control-wrap">
                                    <textarea class="form-control no-resize" placeholder="Please enter a suffix sentence as additional AI instruction here..." id="instruksisx">{{showsuffix}}</textarea>
                                </div>
                            </div>
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="form-group" id="customerForm" style="visibility:hidden">
                                        <span class="preview-title overline-title">Short Name</span>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="sid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title">save data?</span>
                                            <button type="button" class="btn btn-primary btn-block" id="btnsaveinstrsx"><span>Save</span><em class="icon ni ni-save"></em></button>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title" style="visibility:hidden">cancel data?</span>
                                            <button type="button" class="btn btn-danger btn-block" id="btndiscardinstrsx"><span>Cancel</span><em class="icon ni ni-cross-c"></em></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <span class="sub-text">Chatbot Management By Banda AI.</span>
                    </div>
                </div>
            </div>
        </div>
        {% block checkstatusorgeneratetemplate %}
            {% include 'chatbotbianco/modalcheckstatusorgeneratetemplate.html' %}
        {% endblock checkstatusorgeneratetemplate %}
        {% block generatetemplate %}
            {% include 'chatbotbianco/modalgeneratetemplate.html' %}
        {% endblock generatetemplate %}
        {% block checkstatusapproval %}
            {% include 'chatbotbianco/modalcheckstatusapproval.html' %}
        {% endblock checkstatusapproval %}
        {% block kirimbytemplate %}
            {% include 'chatbotbianco/modalkirimtemplate.html' %}
        {% endblock kirimbytemplate %}
    </div>
{% endblock %}
