{% extends "master-templates-bianco/base.html" %}
{% load static %}

{% block content %}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="card card-preview">
                        <div class="card-inner" id="card-bgs" title="Designed by Freepik">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-home-chatbot3-bianco.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Upload & Konversi Sumber Data</h5>
                                            <p class="card-text">Lakukan sinkronisasi sumber data dengan cara konversi dan simpan ke dalam format yang dipahami AI, agar chatbot dapat menjawab secara akurat menggunakan data terkini.</p>
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge3">Upload & Konversi Sumber Data</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-bordered">
                                        <img src="{% static 'images/card-home-chatbot2-bianco.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                        <div class="card-inner">
                                            <h5 class="card-title">Manajemen Instruksi AI</h5>
                                            <p class="card-text">Tambahkan atau ubah arahan terhadap AI secara custom, yang akan membantu AI chatbot memahami dan menjawab secara optimal segala permintaan dan pertanyaan user.</p>
                                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLarge2">Kelola Instruksi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modalLarge2">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Manajemen Instruksi</h5>
                        <a href="#" id="modalclosegut" class="close" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-wider btn-info" id="btnnewinstrcp"><span>Tambah/Ubah Company Profile</span><em class="icon ni ni-plus-circle"></em></a>
                            </div>
                            <div class="col-sm-6">
                                <span class="preview-title overline-title" style="visibility:hidden">Save or Edit</span>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="saveoreditaddr" style="visibility:hidden">
                                </div>
                            </div>
                        </div>
                        <div class="preview-block" id="instruksifrm">
                            <div class="form-group">                           
                                <div class="form-control-wrap">
                                    <textarea class="form-control no-resize" placeholder="Silakan input informasi company profile bisnis anda sebagai instruksi AI disini..." id="instruksicp">{{showprefix}}</textarea>
                                </div>
                            </div>
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="form-group" id="customerForm" style="visibility:hidden">
                                        <span class="preview-title overline-title">Short Name</span>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="sid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title">simpan data?</span>
                                            <button type="button" class="btn btn-primary btn-block" id="btnsaveinstrcp"><span>Simpan</span><em class="icon ni ni-save"></em></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title" style="visibility:hidden">batalkan data?</span>
                                            <button type="button" class="btn btn-danger btn-block" id="btndiscardinstrcp"><span>Batalkan</span><em class="icon ni ni-cross-c"></em></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="preview-hr">
                        <br />
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <a href="#" class="btn btn-wider btn-info" id="btnnewinstrsx"><span>Tambah/Ubah Instruksi Suffix</span><em class="icon ni ni-plus-circle"></em></a>
                            </div>
                            <div class="col-sm-6">
                                <span class="preview-title overline-title" style="visibility:hidden">Save or Edit</span>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="saveoreditaddr" style="visibility:hidden">
                                </div>
                            </div>
                        </div>
                        <div class="preview-block" id="instruksisxfrm">
                            <div class="form-group">                           
                                <div class="form-control-wrap">
                                    <textarea class="form-control no-resize" placeholder="Silakan input kalimat suffix sebagai tambahan instruksi AI disini..." id="instruksisx">{{showsuffix}}</textarea>
                                </div>
                            </div>
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="form-group" id="customerForm" style="visibility:hidden">
                                        <span class="preview-title overline-title">Short Name</span>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="sid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row gy-4">
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title">simpan data?</span>
                                            <button type="button" class="btn btn-primary btn-block" id="btnsaveinstrsx"><span>Simpan</span><em class="icon ni ni-save"></em></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <span class="preview-title overline-title" style="visibility:hidden">batalkan data?</span>
                                            <button type="button" class="btn btn-danger btn-block" id="btndiscardinstrsx"><span>Batalkan</span><em class="icon ni ni-cross-c"></em></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <span class="sub-text">Bianco Costel Chatbot Management By Banda AI</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modalLarge3">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Manajemen Sumber Data</h5>
                        <a href="#" id="modalclosegut2" class="close" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="preview-block">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <img src="{% static 'images/card-home-chatbot5.jpg' %}" class="card-img-top" title="Designed by Freepik">
                                </div>
                                <div class="col-sm-6">
                                    <div class="row gy-4">
                                        <div class="form-group" id="fileup">
                                            <span class="preview-title overline-title">Pilih dokumen</span>
                                            <div class="form-control-wrap">
                                                <div class="custom-file">
                                                    <input type="file" multiple class="custom-file-input" id="customFileBianco">
                                                    <label class="custom-file-label" for="customFileBianco">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row gy-4">
                                        <div class="row gy-4">
                                            <div class="col-sm-6">
                                                <span class="preview-title overline-title">konversi?</span>
                                                <button type="button" class="btn btn-primary btn-block" id="btnkonversidata"><span>Konversi</span><em class="icon ni ni-db"></em></a>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="preview-title overline-title" style="visibility:hidden">batalkan?</span>
                                                <button type="button" class="btn btn-danger btn-block clear-button" id="btndiscardkonversi"><span>Batalkan</span><em class="icon ni ni-cross-c"></em></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="preview-hr">
                            <br />
                            <div class="preview-block">
                                <div class="code-block">
                                    <h6 class="overline-title title">Output hasil konversi</h6>
                                    <button class="btn btn-sm clipboard-init" title="Copy to clipboard" data-clipboard-target="#formElements" data-clip-success="Copied" data-clip-text="Copy"><span class="clipboard-text">Copy</span></button>
                                    <pre class="prettyprint lang-html" id="formElements">
                                        {{showkonversi}}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <span class="sub-text">Bianco Costel Chatbot Management By Banda AI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
