
<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; <span id="getyear"></span> Chatbot Management by <a href="https://baeta.digital/" target="_blank">Banda AI</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <!-- this is for content if necessary -->
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("getyear").innerHTML = (new Date().getFullYear());
</script>
